*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, Ubuntu;
}

body{
    background-color: rgb(245, 128, 44);
}

.landingpage{
    background-size: 100%;
}

/* Título do Header */
.segundo{
    background-image: url(./images/landingpage.png);
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #000;
    padding: 20px;
    width: 100%;
    height: 1300px;
}

/* Botão do Header */
.button1 {
    background: #EA8B28;
    background-image: -webkit-linear-gradient(top, #EA8B28, #EA8B28);
    background-image: -moz-linear-gradient(top, #EA8B28, #EA8B28);
    background-image: -ms-linear-gradient(top, #EA8B28, #EA8B28);
    background-image: -o-linear-gradient(top, #EA8B28, #EA8B28);
    background-image: -webkit-gradient(to bottom, #EA8B28, #EA8B28);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
    -webkit-box-shadow: 1px 1px 8px 0 #000000;
    -moz-box-shadow: 1px 1px 8px 0 #000000;
    box-shadow: 1px 1px 8px 0 #000000;
    text-shadow: 1px 1px 0 #000000;
    border: solid #000000 0;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-bottom: 2%;
 }
 
 .button1:hover {
    border: solid #BCBCBC 0;
    background: #BCBCBC;
    background-image: -webkit-linear-gradient(top, #BCBCBC, #BCBCBC);
    background-image: -moz-linear-gradient(top, #BCBCBC, #BCBCBC);
    background-image: -ms-linear-gradient(top, #BCBCBC, #BCBCBC);
    background-image: -o-linear-gradient(top, #BCBCBC, #BCBCBC);
    background-image: -webkit-gradient(to bottom, #BCBCBC, #BCBCBC);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    text-decoration: none;
 }

/* Rodapé */
footer > p{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #fff;
}

/* H20 do Rodapé */
.rodape{
    color: darkblue;
    text-decoration:dotted;
    text-decoration-color: darkblue;
}

